html {
	background-color: #D9E0F2;
}

#gigButt {
	position:relative;
	float:right;
	margin-right:25px;
	margin-bottom:25px;
}

#calendar {
	margin-left: auto;
	margin-right:auto;
	margin-bottom: 50px;
	background-color: white;
	border: solid black 2px;
	width: 88%;
	clear:both;
}

#admin-banner {
	padding-top:50px;
	background-color: #A9B4D5;
	color: black;
	position:relative;
}

#admin-banner span {
	position:relative;
	bottom: 0;
   	right: 0;
}

