html {
	background-color: #D9E0F2;
}

.button-stack {
	float:right;
	margin-right: 50px;
}

#gigButt,#logoutBtn,#copy-admin-key {
	display:block;
	margin-right: 10px;
	margin-top:5px;
	float:right;
}

#adminKey {
    position: relative;

}

#key-label {
	margin-left:40px;
}

#calendar {
	margin-left: auto;
	margin-right:auto;
	margin-bottom: 50px;
	background-color: white;
	border: solid black 2px;
	width: 88%;
	clear:both;
}

#admin-banner {
	padding-top:50px;
	color: black;
	position:relative;
}

#admin-banner span {
	position:relative;
	bottom: 0;
   	right: 0;
	left: 66px;
}

.copy-to-clipboard {
	float:right;
	margin-right: 30px;
	position: relative;
	left: -40px;
}

a.copy-to-clipboard {
	color:#4a4a4a !important;
}

