.everything {
	text-align: center;
}

input:focus {
	border-color:black !important;
}

.index-button {
background-color: #536599;
color: white;
}

.gig-banner {
	background-color: #D9E0F2;
	color: black;
	text-align:center;
}

.admin-banner {
	background-color: #D9E0F2;
	color: black;
}

.main-buttons {
	margin-top: 50px;
}

.submitKey {
	margin-top:20px;
}

.key-button, .column {
	display: inline-block !important;
}


.submit-key {
	background-color:#52AC66;
	color:white;
}

.main-buttons button:hover button:focus {
	color:white !important;
	border-color:black;
}

button:focus {
	color:white;
	border-color:black !important;
}

#worker-banner {
	padding-top:50px;
	color: black;
}

